.slider{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    display: none;
}

img.active {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: hsla(0, 0%, 0%, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
}

.prev{
    left: 0;
}    
.next{
    right: 0;
}

@keyframes fade {
    from {opacity: .5;}
    to {opacity: 1;}
}